swag.txt
/Users/waternav/Mhacks 16 serious/mhacks16/__pycache__
/Users/waternav/Mhacks 16 serious/mhacks16/scripts/__pycache__
/Users/waternav/Mhacks 16 serious/mhacks16/Analyze/__pycache__
/Users/waternav/Mhacks 16 serious/mhacks16/Translator/__pycache__
TTS/output.mp3
output.mp3
